.input-default {
    border-radius: 0.5em;
    height: 2em;
    border: 1px solid #d9d4d4;
    width: 100%;
}

.button-submit {
    background-color: #1a1a5b;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    border: none;
}

.button-submit:hover {
    background-color: red;
}